---
import BaseLayout from '../layouts/BaseLayout.astro';
import SideNav from '../components/SideNav.astro';
---

<BaseLayout title="What is Design? — Alan Just" currentPath="/what-is-design">
  <section class="section">
    <div class="section-with-left-menu">

      <SideNav currentPath="/what-is-design" />

      <div class="div-right-side">
        <h2 class="heading-h2">What is <span class="design-color">Design</span>?</h2>

        <a href="/contact" class="challenge-me-link">Please challenge me!</a>

        <p class="main-text">Okay, let's break this down.</p>

        <p class="main-text"><span class="design-color"><strong><em>Design is a concept, a process, a tool, a bridge that we use to reach out and connect with the world around us.</em></strong></span></p>

        <p class="main-text">It's like a narrative that weaves through every facet of our lives. It's in the layout of a web page, a chair's ergonomics, and a building's schematics. It's in the flow of traffic on a city street and the arrangement of apps on a smartphone.</p>

        <p class="main-text">The function of <span class="design-color">Design</span> isn't to just make things look pretty. Its core mission is to guide behavior, to facilitate actions.</p>

        <p class="main-text"><span class="design-color">Design</span> guides users through a journey, helping them easily navigate unfamiliar terrains. It is a process of understanding empathy. It seeks to alleviate cognitive dissonance to reassure users that it's okay to try new things to venture out of their comfort zones.</p>

        <p class="main-text">The lines between <span class="design-color">Design</span> and <span class="art-color">Art</span> often blur, leading to a fair share of confusion. <a href="/the-difference-between-art-and-design" style="color:var(--burlywood);text-decoration:underline;font-style:italic;">Learn more about the differences.</a> Yes, they possess shared characteristics, yet their fundamental aims diverge. <span class="art-color">Art</span> exists to spark emotional introspection, slow our ever-whirring minds and invite deeper contemplation. <span class="design-color">Design</span>, conversely, embodies a more pragmatic spirit. It focuses on functionality, usability, and practical applications that enhance our lives and social standing.</p>

        <p class="main-text">Consider chapels and cathedrals. These structures house stunning works of <span class="art-color">Art</span> meant to inspire self-reflection and contemplation. But their genius doesn't stop at the <span class="art-color">Art</span> they host. These structures are themselves triumphs of <span class="design-color">Design</span>. Every element—the structure, layout, the way the architecture subtly guides your gaze and movement—reflects careful and intentional <span class="design-color">Design</span>. They testify to <span class="design-color">Design's</span> ability to marry form with function and beauty with utility. <a href="/what-is-decorative-art" style="color:var(--burlywood);text-decoration:underline;font-style:italic;">Learn more about what is Decorative Art?</a></p>

        <p class="main-text">You see, <span class="design-color">Design</span> is a careful assembly of interconnected parts, each playing its role in achieving a specific goal. <span class="design-color">Designers</span>, then, are like architects of understanding, using their skills to bridge the gap between intent and comprehension.</p>

        <p class="main-text"><span class="design-color">Design</span>, if you think about it, is like a well-orchestrated dinner party. Each component — from the guest list, the menu, the décor, and the music — is meticulously planned with a specific outcome in mind. Whether it's a casual get-together or a formal banquet, the event's success hinges on how well each element is designed to achieve the desired experience.</p>

        <div class="more-terms">
          <h2 class="heading terms"><span class="design-color">Design</span> has a language all its own:</h2>

          <a href="https://www.interaction-design.org/literature/topics/aesthetics" target="_blank" rel="noopener noreferrer" class="main-text text-link aqua">
            <div class="bold-text-2">Aesthetics</div>
            <p style="font-size:20px;line-height:1.7em;margin:0;">This is what gives a design its appeal, its attractiveness, its... "oomph." It's about how the balance, color, movement, pattern, scale, and shape all come together. It's how the visual weight of elements is distributed in a design, creating harmony and unity. In essence, design aesthetics is about creating a visually pleasing and engaging experience. It's not just for show, though; aesthetics can improve functionality, too, making designs not just lovely to look at but truly effective and user-friendly. It's about bringing beauty and usability together in a design tango that leaves users wanting more.</p>
          </a>

          <a href="https://medium.com/@mynameisceline/what-does-it-mean-to-have-a-design-style-1ec25030372d" target="_blank" rel="noopener noreferrer" class="main-text text-link olive">
            <div class="bold-text-2">Style</div>
            <p style="font-size:20px;line-height:1.7em;margin:0;">Imagine style as the distinct flavor or personality that a design carries. Style often nods towards a specific era or movement, like the opulence of the Victorian era, the sleek sophistication of Art Deco, or the clean precision of the Swiss design style. It's not just about following a trend; it's about setting the tone, creating a mood, a feeling. It's the unique expression of a design that not only resonates with an audience but also tells a story in its own unique way.</p>
          </a>

          <a href="https://designlab.com/blog/what-is-data-driven-design/" target="_blank" rel="noopener noreferrer" class="main-text text-link aqua">
            <div class="bold-text-2">Data-Driven Design</div>
            <p style="font-size:20px;line-height:1.7em;margin:0;">It's a design approach that's all about listening to what the facts are telling you. Think of it as your detective story: gathering clues, piecing together information from user interactions, market shifts, and analytics, and then using all these details to guide your design decisions. You're not just creating something that looks nice. You're designing something that truly works for the user based on their behaviors, needs, and preferences, captured and quantified in the raw data. And the best part? It's not guesswork. It is designed and shaped by real-world evidence, leading to solutions that are more effective, more efficient, and more in tune with the user's reality.</p>
          </a>

          <a href="https://www.interaction-design.org/literature/article/what-is-design-thinking-and-why-is-it-so-popular" target="_blank" rel="noopener noreferrer" class="main-text text-link olive">
            <div class="bold-text-2">Design Thinking</div>
            <p style="font-size:20px;line-height:1.7em;margin:0;">This is like an adventurous treasure hunt where the map is created along the journey. It's a process, an iterative one, where you constantly seek to understand your users, challenge your own preconceptions, and redefine problems. The aim is to uncover those elusive alternative strategies and solutions that aren't instantly apparent. It's not a straight line from point A to point B; it's more like an intricate dance of insight, creativity, and logic. Design thinking isn't about staying within the lines or playing it safe. It's about providing a solution-focused approach to problem-solving, a collection of hands-on methods. Think of it as a hybrid of analytical and creative thinking. It's about being empathetic, innovative, and strategic all at once.</p>
          </a>
        </div>
      </div><!-- /.div-right-side -->
    </div><!-- /.section-with-left-menu -->
  </section>
</BaseLayout>

<style>
  .challenge-me-link {
    color: var(--pale-green);
    font-size: 20px;
    font-style: italic;
    font-weight: 500;
    text-decoration: underline;
    display: block;
    margin-bottom: 13px;
  }
</style>
